<h1> Enter the amount of change you want converted </h1>
<form action="/results">
  <div class="form-group">
    <label id="money"> Amount of money</label>
    <input id="money" name="money" class="form-control" type="number" placeholder="0.00">
  </div>
  <button type="submit" class="btn-success"> Send </button>

</form>
